.swipe-logo{
    background-image: url("Logo-pages2.png");
}
.card-swipe{
    background-image: url("swipe photo.png");
    position: absolute;
    width: 471px;
    height: 622px;
    left: 700px;
    top: 216px;

}
.swipe-title{
    position: absolute;
    left: 17%;
    right: 46.5%;
    top: 77.17%;
    bottom: 13.83%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}
.swipe-buttons{
    position: absolute;
    left: 9%;
    right: 16.56%;
    top: 87.94%;
    bottom: 4.82%;
    display:inline-flex;
    list-style-type: none;

}
.li-swipe{
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.swipe-like{
    background-image: url("Like-swipe.png");
}

.swipe-nope{

    background-image: url("Nope.png");
}
.swipe-info{
    background-image: url("Info.png");
}
.swipe-fav{

    background-image: url("Favourite.png");
}
.swipe-next{

    background-image: url("Next.png");
}